# Environment files
.env
.env.*
!.env.example
.env.backup
.env.production

# Logs & cache
*.log
*.tmp
*.cache
.phpunit.result.cache
/.phpunit.cache

# OS files
.DS_Store
Thumbs.db

# IDEs & Editors
/.idea
/.vscode
/.fleet
/.zed
/.nova
.phpactor.json

# Node & Frontend
/node_modules
/public/build
/public/hot

# Laravel storage & cache
/storage/*.key
/storage/framework
/storage/logs
/storage/pail
/public/storage
/bootstrap/cache

# Composer
/vendor
/auth.json

# Homestead
Homestead.json
Homestead.yaml
